/* Created a CSS file for the math-mini-game jsx file */

.game-body {
    background-color: transparent;
    transition: background-color 1.0s ease-out;
}

.game-body.isRight 
{
    background-color: green;
}

.game-body.isWrong
{
    background-color: red;
}